<div #myModal class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ editId != undefined ? "Edit" : "Add" }} Task
        </h5>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <form [formGroup]="taskItemForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="taskName" class="col-form-label">Task:</label>
            <input
              type="text"
              class="form-control"
              id="taskName"
              formControlName="taskName"
              placeholder="name"
            />
            <ng-container
              *ngIf="
                taskFormControl['taskName'].invalid &&
                (taskFormControl['taskName'].dirty ||
                  taskFormControl['taskName'].touched)
              "
            >
              <span
                *ngIf="taskFormControl['taskName'].errors?.['required']"
                class="text-danger"
              >
                Name is required
              </span>
            </ng-container>
          </div>
          <div class="form-group">
            <label for="taskPriority" class="col-form-label">Priority:</label>
            <input
              type="text"
              class="form-control"
              id="taskPriority"
              formControlName="taskPriority"
              placeholder="high, medium, low"
            />
            <ng-container
              *ngIf="
                taskFormControl['taskPriority'].invalid &&
                (taskFormControl['taskPriority'].dirty ||
                  taskFormControl['taskPriority'].touched)
              "
            >
              <span
                *ngIf="taskFormControl['taskPriority'].errors?.['required']"
                class="text-danger"
              >
                Priority is required
              </span>
              <span
                *ngIf="taskFormControl['taskPriority'].errors?.['pattern']"
                class="text-danger"
              >
                only high, medium or low category is required
              </span>
            </ng-container>
          </div>
          <div class="form-group">
            <label class="col-form-label" for="statusSelect">Status</label>
            <select
              class="form-control"
              id="statusSelect"
              formControlName="taskStatus"
            >
              <option selected [value]="null">Select</option>
              <option [value]="true">Completed</option>
              <option [value]="false">Pending</option>
            </select>
            <ng-container
              *ngIf="
                taskFormControl['taskStatus'].invalid &&
                (taskFormControl['taskStatus'].dirty ||
                  taskFormControl['taskStatus'].touched)
              "
            >
              <span
                *ngIf="taskFormControl['taskStatus'].errors?.['required']"
                class="text-danger"
              >
                Status is required
              </span>
            </ng-container>
          </div>
          <div class="form-group">
            <label for="taskDate" class="col-form-label">Date:</label>
            <input
              type="date"
              class="form-control"
              id="taskDate"
              formControlName="taskDate"
            />
            <ng-container
              *ngIf="
                taskFormControl['taskDate'].invalid &&
                (taskFormControl['taskDate'].dirty ||
                  taskFormControl['taskDate'].touched)
              "
            >
              <span
                *ngIf="taskFormControl['taskDate'].errors?.['required']"
                class="text-danger"
              >
                Date is required
              </span>
            </ng-container>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-secondary px-5 bg-primary"
            data-dismiss="modal"
            (click)="closeModal()"
            [disabled]="taskItemForm.invalid"
          >
            {{ editId != undefined ? "Edit" : "Add" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
