<div #myModal class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ editId != undefined ? "Edit" : "Add" }} Task
        </h5>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <form #form="ngForm" (ngSubmit)="onSubmit(form.value); form.resetForm()">
        <div class="modal-body">
          <div class="form-group">
            <label for="taskName" class="col-form-label">Task:</label>
            <input
              type="text"
              class="form-control"
              id="taskName"
              name="taskName"
              ngModel
            />
          </div>
          <div class="form-group">
            <label for="taskPriority" class="col-form-label">Priority:</label>
            <input
              type="text"
              class="form-control"
              id="taskPriority"
              name="taskPriority"
              ngModel
            />
          </div>
          <div class="form-group">
            <label class="col-form-label" for="statusSelect">Status</label>
            <select
              class="form-control"
              id="statusSelect"
              name="taskStatus"
              ngModel
            >
              <option selected>Select</option>
              <option [ngValue]="true">Completed</option>
              <option [ngValue]="false">Pending</option>
            </select>
          </div>
          <div class="form-group">
            <label for="taskDate" class="col-form-label">Date:</label>
            <input
              type="date"
              class="form-control"
              id="taskDate"
              name="taskDate"
              ngModel
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="closeModal()"
          >
            {{ editId != undefined ? "Edit" : "Add" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
